NEXT_PUBLIC_SUPABASE_URL=http://5.78.228.49:8000
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
TELNYX_API_KEY=KEY019E8022952876ECF45ED43540EA089F_WSh1gYMa7J7ndrYYMSWVrg
TELNYX_PHONE_NUMBER=+19282910777
DREW_PHONE=+17017209050
